# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out

# Expo
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

# Environment
.env
.env.local
.env.*.local

# Supabase
supabase/.branches
supabase/.temp

# Turbo
.turbo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Archivos temporales de pnpm
_tmp_*
